$couleur-bordures: #cccccc;
$couleur-icones: #ffffff;
$couleur-titre: #ffffff;
$couleur-textes: #ffffff;
$couleur-bordure-selected : #ffffff;
$couleur-background-onglet-actif: #EF0C1A;
$couleur-background-section: #EF0C1A;
$couleur-background-section-login: #202C3A;
$couleur-background-header-chat:#202C3A;