@import "variables";

.popin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    .wrapper-popin {
        position: absolute;
        height: 30%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #ffffff;
        border-radius: 15px;

        & > span {
            float: right;
            margin-right: 8px;
            margin-top: 5px;
            cursor: pointer;
        }

        .popin-header {
            text-align: center;
            height: 55%;
            padding: 25px 0px;

            & > span {
                color: #ffffff;
                background-color: $primary-color;
                border-radius: 50px;
                width: 33px;
                height: 33px;
            }

            h2 {
                margin-top: 10px;
            }
        } // popin-header

        .popin-content {
            position: relative;
            height: 46%;
            color: $couleur-textes;
            background-color: $primary-color;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .popin-texte {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 80%;
                text-align: center;
            } // popin-texte
        } // popin-content
    } //wrapper-popin
} // popin

.notification {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 8%;
    width: 30%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 2px;
    z-index: 1000;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);

    span {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
    }

    .wrapper-notification {
        position: absolute;
        padding: 10px;
        width: 100%;
        height: 100%;

        .title-notification, .texte-notification {
            text-align: center;
        }

        .texte-notification {
            white-space: nowrap;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: auto;
        } // texte-notification
    } // wrapper-notification
} // notification