@mixin beforeNameRoom ($numberIcone) {
    content: $numberIcone;
    font-family: fontAwesome;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 10px;
}

html, body {
    font-size: 16px;
    line-height: 1.4;
    height: 100%;

    margin: 0;
    padding: 0;
}

a, h2, p {
    font-family: SourceSansPro;
    font-weight: 400;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

input[type=text], input[type=password], input[type=email] {
    border: none;
    border-bottom: 1.5px solid $couleur-bordures;
    background-color: transparent;
    color: $couleur-textes;
    height: 30px;
    padding-left: 10px;
    width: 50%;
    font-size: 18px;
}

.container {
    overflow: hidden;
}

.site-content { padding-top: 40px; }

/* HEADER */

.site-pusher {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);

    .header {
        position: static;
        left: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        background-color: $couleur-background-header-chat;

        .wrapper-header {
            position: relative;

            .wrapper-header-input {
                position: relative;
                width: 50%;
                margin: auto;
                padding: 5px 0;

                input {
                    width: 100%;
                    display: block;
                    margin: auto;
                    height: 25px;
                }
                i.fa-search {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0px;
                    cursor: text;
                }
            }          
            i.fa-cog {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        } // wrapper-header
    
        .header__icon {
            position: relative;
            display: block;
            float: left;
            width: 35px;
            height: 40px;
            z-index: 2;
            cursor: pointer;
        }
    
        .header__icon::after {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 0;
            top: 4px;
            left: 8px;
            box-shadow: 0px 10px 0px 1px #ffffff, 0px 16px 0px 1px #ffffff, 0px 22px 0px 1px #ffffff;
        }
    
        .menu {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $couleur-background-menu-left;
            width: 250px;
            transform: translateX(-250px);
            transition-duration: 0.3s;

            .section-room-friends {
                .wrapper-onglets {
                    ul {
                        margin: 0;
                        line-height: 1.2;
                        li {
                            background-color: #9B0812;
                            font-size: 16px;
                            padding: 10px 0px;
                            display: inline-block;
                            width: 50%;
                            text-align: center;
                            cursor: pointer;

                            &.onglet-rooms {
                                margin-right: -4px;
                            }
                            
                            &.selected {
                                background-color: $couleur-background-onglet-actif;
                                box-shadow: 0px 1px 1px 0px #000000;
                            }
                            a {
                                color: $couleur-textes;
                            }

                            &::after {
                                content: '\f111';
                                font-family: fontAwesome;
                                font-size: 12px;
                                color: #33cc33;
                                margin-left: 5px;
                            }
                        } // li
                    } // ul
                } // wrapper-onglets

                .wrapper-friends {
                    display: none;

                    .wrapper-online-friends, .wrapper-offline-friends {
                        padding: 0 20px;
                    } // wrapper-online-friends

                    .header-wrapper-friends {
                        h2, & > i {
                            display: inline-block;
                            color: #000000;
                            cursor: pointer;
                        }

                        h2 {
                            font-size: 18px;
                            margin: 0;
                        }
                    } // header-wrapper-rooms

                    ul { 
                        margin: 0 0 15px 0; 
                        
                        li {
                            line-height: 1.2;
                        }
                    }

                    a {
                        color: #000000;
                    }
                } // wrapper-friends

                .wrapper-section-rooms {
                    .wrapper-rooms {
                        padding: 0 20px;

                        .header-wrapper-rooms {
                            h2, & > i {
                                display: inline-block;
                                color: #000000;
                                cursor: pointer;
                            }

                            h2 {
                                font-size: 18px;
                                margin: 0;
                            }
                        } // header-wrapper-rooms

                        ul { 
                            margin: 0 0 15px 0; 
                            
                            li {
                                line-height: 1.2;
                            }
                        }

                        .public-room {
                            li {
                                &:hover {
                                    background-color: gray;
                                }
                                &::before {
                                    @include beforeNameRoom('\f0ac');
                                }
                            } // li
                        } // public-room

                        .private-room {
                            li {
                                &:hover {
                                    background-color: gray;
                                }
                                &::before {
                                    @include beforeNameRoom('\f023');
                                }
                            } // li
                        } // private-room

                        .private-message-room {
                            li {
                                &:hover {
                                    background-color: gray;
                                }
                                &::before {
                                    @include beforeNameRoom('\f2b5');
                                }

                                a {
                                    color: #000000;
                                }
                            } // li
                        } // private-message-room

                        a {
                            color: #000000;
                        }
                    } // wrapper-rooms
                } // wrapper-section-room
            } // section-room-friends
        } // menu
    } // header

    .site-content { 
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;

        .container {
            .wrapper-chat {
                .wrapper-game {
                    display: none;
                    background: $couleur-background-game;
                    width: 100%;
                }

                .wrapper-area-chat {
                    background: $couleur-background-chat;
                    width: 100%;
                    height: 95vh;
                    padding: 0 10px;
                    position: relative;
                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding-bottom: 50px;
                        margin: 0;

                        li {
                            margin: 10px 0;
                            background-color: red;
                            padding: 10px 15px;
                            border-radius: 20px;
                            border-bottom-left-radius: 5px;
                            position: relative;
                            width: 45%;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 0; 
                                height: 0; 
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 8px solid red;
                                left: 10px;
                                bottom: -8px;
                            }

                            &.user-connected {
                                background-color: blue;
                                border-radius: 20px;
                                border-bottom-right-radius: 5px;
                                align-self: flex-end;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 0; 
                                    height: 0; 
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 8px solid blue;
                                    right: 10px;
                                    left: inherit;
                                    bottom: -8px;
                                }   
                            } // user-connected
                        } // li
                    } // ul

                    & > form {
                        background-color: darkgray;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0px;

                        input[type="text"] {
                            width: 60%;
                        }

                        input[type="submit"] {
                            width: 30%;
                        }
                    } // form
                } // wrapper-area-chat
            } // wrapper-chat
        }
    } // site-content
} // site-pusher

.with--sidebar {
    .site-pusher {
        transform: translateX(250px);
    }

    .site-content {
        background-color: rgba(0,0,0,0.6);
    }
}

/* .wrapper-page-login {
    flex-direction: column;
    .logo {
        margin-bottom: 40px;
    }

    section.section-choix-login {
        .container {
            
            .wrapper-btn-login {
                &::after {
                    content: none;
                }

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                
                .wrapper-login, .wrapper-sign-in, .wrapper-sign-guest {
                    font-size: 18px;
                    width: 20%;
                    .fa-user {
                        font-size: 2em;
                    }
                }

                
            }
        } // container
    } // section-choix-login
} */ // wrapper-page-login