body {
    main {

        &.wrapper-page-login {
            flex-direction: column;
            .logo {
                margin-bottom: 40px;
            }

            section.section-choix-login {
                .container {
                    
                    .wrapper-btn-login {
                        &::after {
                            content: none;
                        }

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        
                        .wrapper-login, .wrapper-sign-in, .wrapper-sign-guest {
                            font-size: 18px;
                            width: 20%;
                            .fa-user {
                                font-size: 2em;
                            }
                        }

                        
                    }
                } // container
            } // section-choix-login
        } // wrapper-page-login
    } // main
}