.main-home {
    display: flex;
    height: 100%;
    .wrapper-link-home {
        position: relative;
        height: 100%;
        width: 30%;
        background-color: $primary-color;
        color: #ffffff;

        & > span {
            margin: 50px auto;
            display: block;
            text-align: center;
        }

        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 70%;

            li {
                font-size: 20px;
                margin: 10px 0;
                padding-bottom: 5px;
                cursor: pointer;

                span {
                    margin-right: 30px;
                }

                &.selected {
                    border-bottom: 2px solid #ffffff;
                    &:hover::after {
                        width: 0;
                    }
                }
            } // li
        } // ul
    } // wrapper-link-home

    .wrapper-form-home {
        position: relative;
        height: 100%;
        width: 70%;
        background: #9f44ca; /* Old browsers */
        background: -moz-linear-gradient(top,  #9f44ca 0%, #2989d8 50%, #4086e9 51%, #9f44ca 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #9f44ca 0%,#2989d8 50%,#4086e9 51%,#9f44ca 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #9f44ca 0%,#2989d8 50%,#4086e9 51%,#9f44ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f44ca', endColorstr='#9f44ca',GradientType=0 ); /* IE6-9 */

        h2 {
            color: #ffffff;
            text-align: center;
            font-size: 24px;
            margin: 50px;
        }

        .wrapper-form {
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);

            form {
                p {
                    input[type=text], input[type=password], input[type=email] {
                        border: none;
                        border-radius: 10px;
                        background-color: rgba(0, 0, 0, .2);
                        color: $couleur-textes;
                        height: 47px;
                        padding-left: 10px;
                        margin: 15px;
                        width: 40%;
                        font-size: 18px;
                    }

                    input[type=submit] {
                        border: none;
                        height: 40px;
                        width: 200px;
                        border-radius: 8px;
                        margin: 15px;
                        cursor: pointer;
                    }
                }
            }
        } // wrapper-form
    } // wrapper-form-home
} // main-home


.main-chat {
    display: flex;
    height: 100%;

    h2 {
        font-weight: 600;
    } // h2

    section {
        height: 100%;

        &.wrapper-info-room {
            width: 30%;
            color: #ffffff;
            display: flex;

            div {
                width: 50%;
                height: 100%;
                padding: 5%;
                background-color: $primary-color;

                &:last-child {
                    background-color: $second-color;
                }

                h2 {
                    text-align: center;
                    font-size: 24px;
                }

                ul {
                    padding: 10%;
                    li {
                        padding: 5%;
                    }
                }
            }
        } // wrapper-info-room

        &.wrapper-chat {
            width: 55%;
            position: relative;
            background: #9f44ca; /* Old browsers */
            background: -moz-linear-gradient(top,  #9f44ca 0%, #2989d8 50%, #4086e9 51%, #9f44ca 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #9f44ca 0%,#2989d8 50%,#4086e9 51%,#9f44ca 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #9f44ca 0%,#2989d8 50%,#4086e9 51%,#9f44ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f44ca', endColorstr='#9f44ca',GradientType=0 ); /* IE6-9 */

            h2 {
                text-align: center;
                color: #ffffff;
                padding: 10px;
                background-color: rgba(0, 0, 0, .2)
            }

            div {
                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 40px;
                    li {
                        background-color: $couleur-background-message;
                        width: 40%;
                        border-radius: 20px;
                        margin: 10px 0;
                        padding: 8px 15px;
                        position: relative;
                        font-size: 14px;

                        span {
                            display: block;
                            &::after {
                                content: ' : ';
                            }
                        }

                        &::after {
                         content: '';
                         position: absolute;
                         bottom: -5px;
                         left: 18px;
                         width: 0; 
                         height: 0;
                         border-left: 5px solid transparent;
                         border-right: 5px solid transparent;
                         border-top: 5px solid $couleur-background-user-message;   
                        }

                        &.current-user {
                            align-self: flex-end;
                            background-color: $couleur-background-current-user-message;
                            color: #ffffff;

                            &::after {
                                right: 18px;
                                left: inherit;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid $couleur-background-current-user-message; 
                            }
                        }
                    }
                }

                .wrapper-input-chat {
                    display: flex;
                    position: absolute;
                    width: 100%;
                    bottom: 0;

                    form {
                        align-self: flex-end;
                        width: 90%;
                        input {
                            padding-left: 20px;
                            background-color: $second-color;
                            border: none;
                            position: relative;
                            height: 72px;
                            width: 100%;
                            opacity: .8;
                        }
                    }

                    button {
                        width: 10%;
                        background-color: $second-color;
                        border: none;
                        color: #ffffff;
                    }
                } // wrapper-input-chat

                
            }
        } // wrapper-chat

        &.wrapper-list-amis {
            width: 15%;
            color: #ffffff;
            background-color: $primary-color;
            padding: 2%;

            h2 {
                text-align: center;
                font-size: 24px;
            } // h2

            ul {
                padding: 10%;
                li {
                    padding: 5%;
                } // li
            } // ul

            form {
                position: absolute;
                bottom: 15px;
                input {
                    background-color: $second-color;
                    border: none;
                    padding-left: 45px;
                    border-radius: 20px;
                    position: relative;
                    height: 36px;
                    width: 100%;
                } // input
            } // form

        } // wrapper-list-amis
         
    }
}