$primary-color: #1c1f28;
$second-color: #292c35;

$couleur-bordures: #ffffff;
$couleur-textes: #ffffff;

$couleur-background-message: #ffffff;
$couleur-background-current-user-message: $second-color;
$couleur-background-user-message: #ffffff;